<div class="container landing-message">
  <div class="row">
    <div class="col-sm-12 col-md-6 landing-message-title-container">
      <div class="landing-message-title">
        <h1>TUS MEJORES PELÍCULAS</h1>
      </div>
    </div>
    <div class="col-sm-12 col-md-6 landing-message-content-container">
      <div class="landing-message-content">
        <p>
          Busca tus películas favoritas y analiza sus detalles técnicos tales
          como: director, actores, premios y mucho más.
        </p>
      </div>
    </div>
  </div>
</div>
