// -------------- Colors ----------------- //
$peliculiando-blue-dark: #025377;
$peliculiando-blue-light: #6da3c7;
$peliculiando-gray: #b2c0cb;
$peliculiando-green-light: #09cac7;

// -------------- Fonts ----------------- //
$poppins-regular: "Poppins-Regular";
$poppins-bold: "Poppins-Bold";
